{% extends 'base_generic.html' %}

{% block content %}
  <h2>Add Teacher</h2>
  <form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" required>
    <br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required>
    <br>
    <button type="submit">Add Teacher</button>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


  <a href="{% url 'admin_dashboard' %}" style="margin-left: 80%; color: black; text-decoration: none;">Back</a>
{% endblock %}
